/* Text  */
h1 {
	font-family: 'Noto Serif', serif;
	font-size: 30pt;
	color: #1DA1F2;
}

h2 {
	font-family: 'Noto Serif', serif;
	font-size: 20pt;
	color: #1DA1F2;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.session-terms {
	font-size: 8pt;
	color: #5B7083;
}

/* Footer */
/* TODO: If content overflows, then footer covers content, it should sit below always */
.footer > ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2rem;
}

ul, li {
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 10pt;
	font-family: 'Open Sans', sans-serif;
}

/* Account Login Widget */
.account-widget h2, .account-widget p {
	text-align: center;
}

/* TODO: Get continue button centered on form */
/* .account-widget button {
	margin: auto;
	display: flex;
	display: grid;
} */


#email, #password, #fname, #login-email, #login-password {
	margin: 3px;
}

input {
	text-indent: 10px;
	font-family: 'Open Sans', sans-serif;
}

.btn-primary {
	color: white;
	background-color: #1DA1F2;
	border-color: #1DA1F2;
	border-radius:30px;
	font-family: 'Ubuntu', sans-serif;
	width: 200px;
	margin-top: 3px;
	margin-bottom: 3px;
}

/* .button {
	cursor: pointer;
} */

/* Celebrity Accounts Checkboxes */
img {
    max-width:10%;
    height:auto;
}

/* TODO: Left off here trying to get celebs formatted right  */
/* .elon, .kim, .britney, .justin, .gaga {
	display: inline-block;
} */


/* Tweets and Widgets */
.tweet-widget, .account-widget {
	border-radius: 30px;
	border: 3px solid black;
	width: 30em;
	height: 35em;
	margin: 2em;
	padding: 3em;
}

/* TODO: This isn't centered properly, but it looks ok from the sizes */
.tweets, .fav-tweets {
	overflow-y:scroll;
	width: 25em;
	height: 30em;
}

.heart {
    font-size: 16px;
	color: #aaa;
	cursor: pointer;
}

.heart-fav {
	color: #E0245E;
}