/* Text  */
h1 {
	font-family: 'Noto Serif', serif;
	font-size: 30pt;
	color: #1DA1F2;
	padding-bottom: 0.5em;
}

h2 {
	font-family: 'Noto Serif', serif;
	font-size: 20pt;
	color: #1DA1F2;
}

h3 {
	font-family: 'Noto Serif', serif;
	font-size: 20pt;
	color: #1DA1F2;
	padding-bottom: 0.5em;
}

.tour-tip {
	font-size: 25pt;
	color: #dde2e6;
	padding-top: 5em;
	padding-left: 1.75em;
	position: absolute;
	z-index: 900;
}

#tour-fav {
	padding-left: 2em;
}

h4 {
	font-family: 'Noto Serif', serif;
	font-size: 11pt;
	color: #1DA1F2;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.tip {
	padding-left: 7.5em;
}

.session-terms {
	font-size: 8pt;
	color: #5B7083;
	display: block;
	width: 60%;
	margin-left: 7em;
}

.flash-msg {
	position: absolute;
	max-width: 300px;
	height: auto;
	padding: 10px;
	border-radius: 3px;
	font-size: 12pt;
	margin: 20px;
	border: 2px solid #bbd2ab;
	background-color: #e4e8e2;
	color: black;
}

.error {
	background-color: #F6F4D2;
	border-color: #E4DF77;
}

/* Footer */
html, body {
	height: 100%;
	width: 100%;
}

.container {
	height: 95%;
}

.vertical-center {
	padding: 3em;
}

.footer > ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2rem;
	background: #ffffff;
	z-index: 1000;
}

.about-info li {
	display: inline;
	padding-left: 0;
	padding-right: 0;
	font-size: 10pt;
	font-family: 'Open Sans', sans-serif;
	margin-right: 1em;
	margin-left: 1em;
}

.about-info {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

/* Account Login Widget */
.logo {
	margin-top: 0.5em;
	height: 70px;
	width: 70px;
}

.big-logo {
	height: 90px;
	width: 90px;
	margin-top: 2em;
}

#email, #password, #fname, #login-email, #login-password {
	margin: 3px;
	display: block;
	width: 60%;
}

input {
	text-indent: 10px;
	font-family: 'Open Sans', sans-serif;
}

#email, #password, #fname, #login-email, #login-password {
	margin-left: .95em;
}

/* Carousel */
.carousel {
	width: 570px;
}

/* Buttons */
.btn {
	align-items: center;
}

.btn-primary {
	color: #ffffff;
	background-color: #1DA1F2;
	border-color: #1DA1F2;
	border-radius:30px;
	font-family: 'Ubuntu', sans-serif;
	width: 250px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.btn-primary:hover {
  background-color: #1B91DA;
}

.logout {
	background-color: #ffffff;
	border-color: #1B91DA;
	color: #1B91DA;
	margin-top: 2em;
}

.logout:hover {
  background-color: #EBF5FD;
  color: #1B91DA;
}

.generate-fav {
	margin-top: 22.85em;
}

.logout-fav {
	margin-top: 4.65em;
}

.favs {
	background-color: #5B7083;
}

.favs:hover {
	background-color: #7c90a2;
}

/* Celebrity Accounts Checkboxes */
.checkbox {
	display: inline-block; 
	font-family: 'Open Sans', sans-serif;
}

input[type=checkbox] {
    transform: scale(1.25);
}

.celeb img {
	margin-right: 0.75em;
}

.celeb {
	margin-bottom: 0.75em;
}

img {
	width: 45px;
	height: 45px;
}

.twitter-accounts, .fav-directions  {
	padding-left: 5em;
}

/* Tweets and Widgets */
.widget {
	border-radius: 30px;
	border: 3px solid #1DA1F2;
	width: 30em;
	height: 35em;
	margin: 2em;
	padding: 2.25em;
	background-color: #EBF5FD;
}

.align { 
	display: flex;
}

.tweet-package {
	margin-top: 0.75em;
	z-index: 950;
}

.centered {
	text-align: center;
}

.wide {
	padding-left: 3.7em;
	width: 30em; 
}

.botname {
	font-size: 10pt;
	font-weight: 1000;
	color: #5B7083;
}

.tweet-package, .heart {
	text-align: left;
}

.tweets, .fav-tweets {
	overflow-y:scroll;
	width: 25em;
	height: 30em;
}

.heart {
    font-size: 40px; 
	color: #aaa;
	cursor: pointer;
	z-index: 1000;
}

.heart:hover {
	color: #8f8d8d;

}

.heart-fav {
	color: #E0245E;
}

.heart-fav:hover {
	color: #e14d7c;
}
