<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    <link href="/static/css/style.css" rel="stylesheet">
		<title>{% block title %}{% endblock %}</title>
		<!-- TODO: JQuery script to be added here -->
		
	</head>

	<body>
		{% block body %}
    {% endblock %}
		<!-- TODO: Javscript script tag to be added here-->
	</body>

	<footer>
		Handmade with 💖 by Missy Davies |
		<a href="https://github.com/missy-davies" target="_blank">GitHub</a> |
		<a href="https://www.linkedin.com/in/missydavies/" target="_blank">LinkedIn</a>
	</footer>

</html>
