{% extends 'base.html' %} 

{% block title %}Homepage: Create a New Account{% endblock %} 

{% block body%}

<h1>They Really Said That?! Mash together celebrities and generate crazy new Tweets</h1>

<!-- Login or create an account widget  -->
<div class="account-widget">

  <h2>Welcome</h2>
  <p>Sign up to generate Tweets</p>

  <form action="/" method="POST">
    <div>
      <input
        type="text" name="fname" id="fname"
        placeholder="first name" required />
    </div>
    <div>
      <input type="text" name="email" id="email" placeholder="email" required />
    </div>
    <div>
      <input type="password" name="password" id="password"
      placeholder="password" required />
    </div>
    <button type="submit">Continue</button>
  </form>

  <p>By continuing you agree to They Really Said That?!'s Terms of Service</p>

  <a href="/login">Already a member? Log In</a>

</div>

{% endblock %}
