{% extends 'base.html' %} 

{% block title %}Favorites{% endblock %} 

{% block body %}
<div class="container">
  <form>
    <button class="button" type="submit" formaction="/logout">Log Out</button>
  </form>
  <div class="row">
    <div class="col">
      <form>
        <button class="button" type="submit" formaction="/generate">Generate More Tweets</button>
      </form>
    </div>
    <div class="col">
      <div class="tweet-widget">
        <div class="fav-tweets">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}