{% extends 'base.html' %} 

{% block title %}Favorites{% endblock %} 

{% block body %}

<div class="container">
  <div class="row align-items-center justify-content-center static-height vertical-center">
    <div class="col">
      <div class="fav-directions">
        <img class="logo" src="/static/img/Logo Small.png">
        <h3>Here are your Favorites!</h3>
        <form>
          <button class="btn btn-primary btn-sm generate-fav" type="submit" formaction="/generate">Generate More Tweets</button>
        </form>
        <form>
          <button class="btn btn-primary btn-sm logout logout-fav" type="submit" formaction="/logout">Log Out</button>
        </form>
      </div>
    </div>
    <div class="col centered">
      <div class="widget">
        <div class="fav-tweets">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}