{% extends 'base.html' %} 

{% block title %}Generate Tweets{% endblock %} 

{% block body %}
<form>
  <button type="submit" formaction="/logout">Log Out</button>
</form>

<div class="elon-musk">
  <h3>Elon Musk</h3>
  <h3>@elonmusk</h3>
  <img src="/static/img/musk_profile_icon.png" 
      alt="Elon Musk's profile icon of a rocket" />

<button type="submit">Generate Tweet</button>

<form>
  <button type="submit" formaction="/favorites">View Favorite Tweets</button>
</form>

</div>

<div class="tweets">
  GENERATED TWEETS WILL POPULATE HERE
</div>

{% endblock %}