{% extends 'base.html' %} 

{% block title %}Homepage{% endblock %} 

{% block body%}

<h1>Wondering what Elon Musk would say? Generate a pseudo Tweet and find out!</h1>

<!-- Login or create an account widget  -->
<div class="account-widget">

  <h2>Welcome to Imposter Elon</h2>
  <p>Sign up to generate Tweets</p>

  <form action="/generate" method="POST">
    <div>
      <input
        type="text" name="fname" id="fname"
        placeholder="first name" required />
    </div>
    <div>
      <input type="text" name="email" id="email" placeholder="email" required />
    </div>
    <div>
      <input type="password" name="password" id="password"
      placeholder="password" required />
    </div>
    <button type="submit">Continue</button>
  </form>

  <p>OR</p>

  <button type="submit">Demo User</button>

  <p>By continuing you agree to Imposter Elon's Terms of Service</p>

  <a href="#">Already a member? Log In</a>

</div>

{% endblock %}
