{% extends 'base.html' %} 

{% block title %}Page Not Found{% endblock %} 

{% block body %}
<div class="container">
	<div class="row align-items-center justify-content-center static-height vertical-center rick">
		<h1 class="centered">Oops! How did you get back here...</h1>
		<div class="centered" width="480 height="350>
			<iframe
				src="https://giphy.com/embed/LXONhtCmN32YU"
				width="480" height="350" frameborder="0"></iframe>
		</div>
		<h2 class='centered'>404</h2>
		<p class="centered">Let us help you get back to somewhere more fun!</a></p>
		<form class="centered">
			<button class="btn btn-primary btn-sm" type="submit" formaction="/generate">Generate More Tweets!</button>
		</form>
	</div>
</div>
	{% endblock %}
